@import "../../assets/fonts/fonts.scss";
@import "../../assets/fonts/mixin.scss";
.Navbar {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.007);
  position: fixed;
  transition: top 1s ease-in-out;
  top: 0;
  z-index: 10;
  width: 100vw;
  min-width: 100vw;
  background-color: #ffffff;
  &-Nav {
    margin: 0 auto;
    padding: 10px 0;
    max-height: 80px; //64 + 2*padding(27)
    display: flex;
    flex-direction: row;
    @include CENTER;
    top: 0 !important;
    justify-content: space-evenly;
    &-Logo {
      height: 100%;
      cursor: pointer;
      scale: 1;
      & img{
        height: 100%;
        max-width: 180px;
      }
    }
    &-Navbar {
      display: flex;
      justify-content: space-between;
      align-items: center;
      &-ul {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        margin: auto;
        // gap: 82px;
        gap: 5vw;
        &-li {
          text-align: center;
          cursor: pointer;
          text-decoration: none;
          list-style-type: none;
          color: var(--text-10, #000000);
          font-size: 20px;
          font-weight: 500;
          line-height: 22px;
        }
      }
    }
    &-Search{
      width: 20vw;
    }
    &-Contact {
      text-align: center;
      width: auto 129px;
      height: auto 22px;
      border: 27px;
      background-color: #00ac22;
      border-radius: 11px;
      padding: 10px 24px;
      cursor: pointer;
      &-li {
        text-decoration: none;
        list-style-type: none;
        color: var(--text-10, #fff);
        font-size: 20px;
        font-weight: 500;
        line-height: 22px;
      }
    }
  }
}
@import "../../assets/media-screen/tablet.scss";