@import "../../assets/fonts/mixin.scss";
@import "../../assets/fonts/fonts.scss";

.Int{
  background-image: url("./img/bg1.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  width: 100%;
  height: 100vh;
  &-M{
      width: 100%;
      display: none;
  }
      &ro {
          position: relative;
          width: 85%;
          height: 100%;
          margin: 0 auto;
          &-Nav {
          padding: 27px 0;
          max-height: 118px; //64 + 2*padding(27)
          display: flex;
          flex-direction: row;
          @include CENTER;
          justify-content: space-between;
          &-Logo {
              height: 100%;
          }
          &-Navbar {
              justify-content: space-between;
              &-ul {
              display: flex;
              flex-direction: row;
              justify-content: space-between;
              // gap: 82px;
              gap: 6vw;
              padding: 0 41px;
              &-li {
                  text-align: center;
                  cursor: pointer;
                  text-decoration: none;
                  list-style-type: none;
                  color: var(--text-10, #fff);
                  font-size: 20px;
                  font-weight: 500;
                  line-height: 22px;
              }
              }
          }
          &-Contact {
              text-align: center;
              width: auto 129px;
              height: auto 22px;
              border: 27px;
              background-color: #ffa217;
              border-radius: 27px;
              padding: 10px 24px;
              cursor: pointer;
              &-li {
              text-decoration: none;
              list-style-type: none;
              color: var(--text-10, #fff);
              font-size: 20px;
              font-weight: 500;
              line-height: 22px;
              }
          }
          }

          &-About {
              position: absolute;
              top: 45%;
              width: 480px;
              display: flex;
              flex-direction: column;
              justify-content: center;
              gap: 39px;
              &-Text {
                  color: var(--text-10, #fff);
                  font-size: 36px;
                  font-family: "POPPINS-SEMIBOLD";
                  font-weight: 600;
                  line-height: 45px;
              }
              &-Order {
                  display: flex;
                  padding: 14px 0;
                  gap: 10px;
                  &-button {
                      width: 246.857px;
                      height: 59.388px;
                      border-radius: 27px;
                      background: var(--button-500, #ffa217);
                      color: var(--text-10, #fff);
                      font-size: 20px;
                      font-weight: 500;
                      line-height: 22px;
                      letter-spacing: -0.408px;
                      border-style: none;
                  }
              }
          }
  }
}
.Ab {
  background-color: #ffffff;
  width: 100%;
  overflow-x: hidden;
  &out {
    position: relative;
    width: 85%;
    height: 100%;
    margin: 0 auto;
    padding: 100px 0 0 0;
    display: flex;
    flex-direction: column-reverse;
    &-Advantages {
      min-height: 200px;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      // grid-template-rows: 1fr 1fr 1fr;
      gap: 25px;
      &-Item {
        &-img {
          width: 87px;
          height: 87px;
          padding: 14px 0px;
          background-color: var(--background-500, #eefcf2);
          border-radius: 72px;
          @include CENTER;
        }
        &-name {
          color: var(--text-950, #161616);
          font-size: 24px;
          font-weight: 600;
          line-height: 32px;
          padding: 16px 0 40px 0;
        }
        &-description {
          color: #000;
          font-size: 18px;
          line-height: 31px;
          font-family: "POPPINS-THIN";
          max-width: 388px;
        }
      }
    }
    &-Info {
      padding: 0 0 120px 0;
      display: grid;
      grid-template-columns: 7fr 6fr;
      gap: 128px;
      &-Text {
        max-width: 600px;
        display: flex;
        flex-direction: column;
        gap: 37px;
        &-name {
          font-family: "POPPINS-BOLD";
          color: var(--text-950, #161616);
          font-size: 32px;
          font-weight: 600;
          line-height: 40px;
        }
        &-description {
          color: var(--text-950, #161616);
          font-size: 22px;
          line-height: 31px;
        }
      }
      &-img {
        overflow: hidden;
        & img {
          height: 100%;
        }
      }
    }
  }
}
.Que {
  width: 100%;
  margin-bottom: 130px;
  &stions {
    position: relative;
    width: 85%;
    max-width: 865px;
    height: 100%;
    margin: 0 auto;
    padding: 120px 0 0 0;
    &-name {
      font-family: "POPPINS-SEMIBOLD";
      color: var(--text-950, #161616);
      text-align: center;
      font-size: 36px;
      font-weight: 600;
      line-height: 44px;
    }
    &-QA {
      cursor: pointer;
      border-bottom: 1px solid #000;
      padding: 18px 0;

      &-Q {
        color: var(--text-950, #161616);
        font-size: 22px;
        padding: 18px 0;
        font-weight: 500;
        line-height: 31px;
        display: flex;
        justify-content: space-between;
      }
      &-A {
        display: none;
      }
    }
  }
}
@import "../../assets/media-screen/tablet.scss";