.Addproduct {
  position: relative;
  z-index: 5;
  height: 100vh;
  margin: 40px;
}
.multi-step-form {
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translate(-50%, 0%);
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  background-color: #f0f0f0;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.step h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.Addproduct--file,
.Addproduct--text,
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.Addproduct--number,
.selectinput{
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.buttons button {
  padding: 10px 20px;
  margin: 5px;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
}

.buttons button:hover {
  background-color: #007bff;
  color: white;
}

.buttons button:disabled {
  background-color: #ccc;
  color: #666;
  cursor: not-allowed;
}

.form-label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.form-control {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}

.form-control:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}