@font-face {
    font-family: POPPINS-BOLD;
    src: url(./all-fonts/Poppins-Bold.ttf);
}
@font-face {
    font-family: POPPINS-SEMIBOLD;
    src: url(./all-fonts/Poppins-SemiBold.ttf);
}
@font-face {
    font-family: POPPINS-NORMAL;
    src: url(./all-fonts/Poppins-Medium.ttf);
}
@font-face {
    font-family: POPPINS-THIN;
    src: url(./all-fonts/Poppins-Light.ttf);
}
