.Signup {
  background-image: url(./img/bg1.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  width: 100%;
  height: 100vh;
  margin: 0;
}
.Login {
  background-image: url(./img/bg1.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  width: 100%;
  height: 100vh;
}
body {
  background: whitesmoke;
  font-family: "Open Sans", sans-serif;
}

